<%- include("partials/header") %>
<div class="home">
    <!-- <h1>Home</h1> -->
    <p><%=p1%></p>
</div>
<div class="blog">
    
    <%composeOutput.forEach(function(compose){%>
        <div class="blogEach">
        <h1 class="titleClass"><%=compose.Title%></h1>
        <p class = "bodyTitle"><%=compose.Post.substring(0,50) + "...." %>
             <a id="a2" href= "/posts/<%=compose.Title%>">Read More</a> %>
            </p>
        </div>
    <%})%>
</div>    

<!-- <%console.log(composeOutput)%> -->

<%-include("partials/footer")%>    