<%- include("partials/header") %>
<div class="home">
    <!-- <h1>Home</h1> -->
    <p><%=p1%></p>
</div>

    <%composeOutput.forEach(function(compose){%>
        <h1><%=compose.Title%></h1>
        <p><%=compose.Post.substring(0,50) + "...." %>
             <a id="a2" href= "/posts/<%=compose.Title%>">Read More</a> %>
            </p>
    <%})%>
    

<%console.log(composeOutput)%>

<%-include("partials/footer")%>    